# WooCommerce API URL (e.g., https://your-wordpress-site.com/wp-json/wc/v3)
VITE_WOO_API_URL=
# WooCommerce Consumer Key
VITE_WOO_CONSUMER_KEY=
# WooCommerce Consumer Secret
VITE_WOO_CONSUMER_SECRET=
# Contact Form 7 ID for Newsletter subscription
VITE_WOO_CF7_ID=
